.sidebar


.col-lg-2
  .sidebar
    %ul.nav.well
      //TODO get this styling out of here
      %div{:style => 'margin-left: 10px;'}
        %li.h4.a{:href => '#'} Text
        %li test2
        %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        / %li text3
        

.row.col-lg-10
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££

  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££

  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££
  .col-lg-2
    %a.thumbnail{:href => "#"}
      =image_tag("templateimg.png")
    .caption
      %h5 Item Description
      £££££££££