%h1 Vintage Kitty Boutique
%br 
/ change to padding
.col-lg-2
  .sidebar
    %ul.nav.well
      //TODO get this styling out of here
      %div{:style => 'margin-left: 10px;'}
        %li.h4.a{:href => '#'} Text
        -size = 1
        -while size < 20 do
          %li 
          = size += 1
        

.row.col-lg-10
  - @items.each do |item|
    .col-lg-2
      %a.thumbnail{:href => "#"}
        =image_tag("templateimg.png")
      .caption
        %h5 
          = item.name
        = item.price